/*#region-menu*/


body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}
body::after {
    content: "";
    display: block;
    height: 150px; /* Adjust the height to the desired space */
}
#menutextboxtext {
    color: black;
    font-size: 20px;
    font-style: italic;
}
#menutextboxcontainer {
    width: 300px;
    height: 300px;
    border: 6px solid white;
    overflow-y: scroll;
    background-color: wheat;
    box-shadow: 0 0 5px 1px white;
    position: fixed;
    right: 14%;
}
#menubuttoncontainer{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#menubutton {
    width: 300px; height: 50px;
    background-color: black;
    color: white;
    cursor: pointer;
    border: 3px solid white;
    font-size: 20px;
    font-weight: bold;
}
#menubutton {
    margin: auto;
    display: block;
    margin-bottom: 20px;
}


/*#endregion*/

/*#region-synth*/


/*#region-text*/
#wavetableheader {
    color: white;
    font-family:monospace;
    font-size: 40px;
    text-align: center;
}
#filtertext {
    color: white;
    text-align: center;
    font-family: monospace;
    margin-top: 40px;
}
#pantext {
    color: white;
    text-align: center;
    font-size: 16px;
    margin-top: 50px;
    font-family: monospace;
}
#pitchtext {
    color: white;
    text-align: center;
    font-family: monospace;
    margin-top: 40px;
}
#shapetext {
    color: white;
    text-align: center;
    font-family: monospace;
    margin-top: 40px;
}
#defaultfiltertext {
    color: white;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    font-style: italic;
}
#frequencyadjustertext {
    color: white;
    font-size: 14px;
    text-align: center;
    margin-top: 0px;
    font-family: monospace;

}
#defaultshapetext {
    color: white;
    font-size: 14px;
    text-align: center;
    margin-top: -10px;
    font-style: italic;
}
#defaultlfotext {
    color: white;
    font-size: 14px;
    text-align: center;
    font-style: italic;
}
/*#endregion*/

/*#region-startstopbuttons*/
#startstopcontainer {
    text-align: center;
    margin-top: 10%;
}
#startbutton {
    width: 120px;
    height: 50px;
    background-color: rgb(46, 41, 41);
    color: white;
    cursor: pointer;
    border: 3px solid white;
    font-size: 22px;
    font-weight: bold;
    box-shadow: 0 0 5px 1px white;
    font-family: monospace;
}
#stopbutton {
    width: 120px;
    height: 50px;
    background-color: rgb(46, 41, 41);
    color: white;
    cursor: pointer;
    border: 3px solid white;
    font-size: 22px;
    font-weight: bold;
    box-shadow: 0 0 5px 1px white;
    font-family: monospace;
}
/*#endregion*/

/*#region-shapebuttons*/
#shapebuttonscontainer {
    text-align: center; 
}
#sine {
    width: 75px;
    height: 35px;
}
#square {
    width: 75px;
    height: 35px;
}
#triangle {
    width: 75px;
    height: 35px;
}
#sawtooth {
    width: 75px;
    height: 35px;
}
/*#endregion*/

/*#region-sliders*/
#filterslider {
    width: 300px;
    margin-top: 10px;
}
#filterslidercontainer {
    text-align: center;
}
#panslidercontainer {
    text-align: center;
}
#panslider {
    width: 100px;
}
#shapeslider {
    width: 300px;
}
#pitchslider {
    width: 300px;
}
#pitchslidercontainer {
    text-align: center;  
}
/*#endregion*/

/*#region-filterbuttons*/
#filteronoffswitch {
    text-align: center;
}
#filtertypebuttons {
    text-align: center;
    margin-top: 10px;
}
#allpassbutton {
    width: 75px;
    height: 35px;
}
#highpassbutton {
    width: 75px;
    height: 35px;
}
#lowpassbutton {
    width: 75px;
    height: 35px;
}
#bandpassbutton {
    width: 75px;
    height: 35px;
}
#notchbutton {
    width: 75px;
    height: 35px;
}
/*#endregion*/

/*#region-pitchbuttons*/
#pitchbuttonscontainer {
    text-align: center;
    margin-bottom: 50px;
   
}
#pitchup {
    width: 75px;
    height: 35px;
}
#pitchdown {
    width: 75px;
    height: 35px;
}
#pitchupfifth {
    width: 75px;
    height: 35px;
}
#pitchdownfifth {
    width: 75px;
    height: 35px;
}
#pitchupthird {
    width: 75px;
    height: 35px;
}
#pitchdownthird {
    width: 75px;
    height: 35px;
}
#pitchupsecond {
    width: 75px;
    height: 35px;
}
#pitchdownsecond {
    width: 75px;
    height: 35px;
}
/*#endregion*/

#lfoControls {
    color: white;
    text-align: center;
    margin-top: 75px;
}
#lfostart {
    width: 100px;
    height: 50px;
}
#lfotypebuttons {
    text-align: center;
    
}
#lforate {
    width: 300px;
   
}
#lfodepth {
    width: 300px;
    
}
#lforatetext {
    margin-top: 30px;
    font-size: 14px;
    font-family: monospace;
}
#lfodepthtext {
    margin-top: 30px;
    font-size: 14px;
    font-family: monospace;
}
#squarelfo {
    width: 75px;
    height: 35px;
}
#sawtoothlfo {
    width: 75px;
    height: 35px;
}   
#trianglelfo {
    width: 75px;
    height: 35px;
}

/*#endregion-page1*/

@media (max-width:1375px) {
    body {
        background-color: black;
    }
    #menutextboxtext {
        color: black;
        font-size: 20px;
        margin-top: 5px;
    }
    #menutextboxcontainer {
        position:absolute;
        left: 50%;
        top: 70%;
        transform: translateY(200%);
        width: 280px;
        height: 200px;
        border: 5px solid white;
        overflow-y: scroll;
        transform: translate(-50%, -50%);
        text-align: left;
    }
}