/*#region-menu*/

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}
body::after {
    content: "";
    display: block;
    height: 150px; /* Adjust the height to the desired space */
}
#menutextboxtext {
    color: black;
    font-size: 24px;
    font-style: bold;
}
#menutextboxcontainer {
    width: 300px;
    height: 300px;
    border: 6px solid white;
    overflow-y: scroll;
    background-color: wheat;
    box-shadow: 0 0 5px 1px white;
    position: fixed;
    right: 14%;
}
#menubuttoncontainer{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#menubutton {
    width: 300px; height: 50px;
    background-color: black;
    color: white;
    cursor: pointer;
    border: 3px solid white;
    font-size: 20px;
    font-weight: bold;
}
#menubutton {
    margin: auto;
    display: block;
    margin-bottom: 20px;
}


#menubuttoncontainer2{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#menubutton2 {
    width: 300px; height: 50px;
    background-color: black;
    color: white;
    cursor: pointer;
    border: 3px solid white;
    font-size: 20px;
    font-weight: bold;
}
#menubutton2 {
    margin: auto;
    display: block;
    margin-bottom: 20px;
}


#menubuttoncontainer3{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#menubutton3 {
    width: 300px; height: 50px;
    background-color: black;
    color: white;
    cursor: pointer;
    border: 3px solid white;
    font-size: 20px;
    font-weight: bold;
}
#menubutton3 {
    margin: auto;
    display: block;
    margin-bottom: 20px;
}




/*#endregion*/

/*#region-synth*/

/*#region-text*/
#wavetableheader {
    color: white;
    font-family:monospace;
    font-size: 40px;
    text-align: center;
}
#filtertext {
    color: white;
    text-align: center;
    font-family: monospace;
    text-decoration: underline;
}
#pantext {
    color: white;
    text-align: center;
    font-size: 16px;
    margin-top: 50px;
    font-family: monospace;
}
#pitchtext {
    color: white;
    text-align: center;
    font-family: monospace;
    text-decoration: underline;
}
#pitchbuttonstext {
    height: 35px;
}
#shapetext {
    color: white;
    text-align: center;
    font-family: monospace;
    text-decoration: underline;
}
#defaultfiltertext {
    color: white;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    font-style: italic;
}
#frequencyadjustertext {
    color: white;
    font-size: 14px;
    text-align: center;
    margin-bottom: 30px;
    font-family: monospace;

}
#defaultshapetext {
    color: white;
    font-size: 14px;
    text-align: center;
    margin-top: -10px;
    font-style: italic;
}
#defaultlfotext {
    color: white;
    font-size: 14px;
    text-align: center;
    font-style: italic;
}
#lfotext {
    color: white;
    text-align: center;
    font-family: monospace;
    text-decoration: underline;
}
#semitonestext {
    color: white;
    text-align: center;
    font-size: 24px;
    font-family: monospace;
    text-decoration: underline;
}
#uptext {
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: monospace;
    font-style: italic;
}
#downtext {
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: monospace;
    font-style: italic;
}
#pitchslidertext {
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: monospace;
    font-style: italic;
    margin-bottom: -10px;
}
/*#endregion*/
/*#region-startstopbuttons*/
#startstopcontainer {
    text-align: center;
    margin-top: 10%;
}
#startbutton {
    width: 120px;
    height: 50px;
    background-color: rgb(46, 41, 41);
    color: white;
    cursor: pointer;
    border: 3px solid white;
    font-size: 22px;
    font-weight: bold;
    box-shadow: 0 0 5px 1px white;
    font-family: monospace;
}
#stopbutton {
    width: 120px;
    height: 50px;
    background-color: rgb(46, 41, 41);
    color: white;
    cursor: pointer;
    border: 3px solid white;
    font-size: 22px;
    font-weight: bold;
    box-shadow: 0 0 5px 1px white;
    font-family: monospace;
}
/*#endregion*/
/*#region-shapebuttons*/
#shapebuttonscontainer {
    text-align: center; 
    margin-bottom: 30px;
    
}
#sine {
    width: 75px;
    height: 35px;
}
#square {
    width: 75px;
    height: 35px;
}
#triangle {
    width: 75px;
    height: 35px;
}
#sawtooth {
    width: 75px;
    height: 35px;
}
/*#endregion*/
/*#region-sliders*/
input[type='range']::-ms-track {
    background: #ccc; /* Gray background */
  }
  input[type='range']::-webkit-slider-runnable-track {
    background: #ccc; /* Gray background */
  }
#filterslider {
    width: 300px;
    margin-top: 10px;
}
#filterslidercontainer {
    text-align: center;
}
#panslidercontainer {
    text-align: center;
}
#panslider {
    width: 100px;
}
#shapeslider {
    width: 300px;
}
#pitchslider {
    width: 300px;
    margin-bottom: 45px;
}
#pitchslidercontainer {
    text-align: center; 
    margin-top: 20px; 
}
/*#endregion*/
/*#region-filterbuttons*/
#filteronoffswitch {
    text-align: center;
}
#filtertypebuttons {
    text-align: center;
    margin-top: 10px;
}
#filtertypebuttons2 {
    text-align: center;
    margin-top: 10px;
}
#allpassbutton {
    width: 75px;
    height: 35px;
}
#highpassbutton {
    width: 75px;
    height: 35px;
}
#lowpassbutton {
    width: 75px;
    height: 35px;
}
#bandpassbutton {
    width: 75px;
    height: 35px;
}
#notchbutton {
    width: 75px;
    height: 35px;
}
/*#endregion*/
/*#region-pitchbuttons*/
#pitchbuttonscontainer {
    text-align: center;
}
#pitchbuttonscontainer button{
    width: 69px;
    height: 33px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}
#pitchbuttongroupup {
    margin-top: 15px;
    border: 3px solid white;
}
#pitchbuttongroupdown {
    margin-top: 20px;
    border: 3px solid white;
}
/*#endregion*/
/*#region-lfo*/
#lfoControls {
    color: white;
    text-align: center;
    margin-top: 20px;
}
#lfostart {
    width: 80px;
    height: 40px;
}
#lfotypebuttons {
    text-align: center;
    
}
#lforate {
    width: 300px;
   
}
#lfodepth {
    width: 300px;
    margin-bottom: 30px;
}
#lforatetext {
    margin-top: 30px;
    font-size: 14px;
    font-family: monospace;
}
#lfodepthtext {
    margin-top: 30px;
    font-size: 14px;
    font-family: monospace;
}
#squarelfo {
    width: 75px;
    height: 35px;
}
#sawtoothlfo {
    width: 75px;
    height: 35px;
}   
#trianglelfo {
    width: 75px;
    height: 35px;
}
/*#endregion*/
/*#region-fullcontainers*/
#shapefullcontainer {
    border: 3px solid white;
    margin-top: 30px;
    background-color: rgb(20, 20, 95);
}
#lfofullcontainer {
    border: 3px solid white;
    margin-top: 30px;
    background-color: rgb(83, 51, 34);
}
#pitchfullcontainer {
    border: 3px solid white;
    margin-top: 30px;
    background-color: rgb(104, 35, 35);
}
#filterfullcontainer {
    border: 3px solid white;
    margin-top: 30px;
    background-color: rgb(32, 83, 47);
}
/*#endregion*/

#downloadlink {
    text-align: center;
    font-size: 28px;
    color: white;
}
#downloadlinkcontainer {
    text-align: center;
    margin-top: 60px;
}
#downloadlink2 {
    text-align: center;
    font-size: 28px;
    color: white;
}
#downloadlinkcontainer2 {
    text-align: center;
    margin-top: 60px;
}



#mylink {
    text-align: center;
    font-size: 28px;
    color: white;
}
#mylinkcontainer {
    text-align: center;
    margin-top: 60px;
}
#mylink2 {
    text-align: center;
    font-size: 28px;
    color: white;
}
#mylinkcontainer2 {
    text-align: center;
    margin-top: 60px;
}
#mylink3 {
    text-align: center;
    font-size: 38px;
    color: white;
}
#mylinkcontainer3 {
    text-align: center;
    margin-top: 60px;
}
#mylink4 {
    text-align: center;
    font-size: 28px;
    color: white;
}
#mylinkcontainer4 {
    text-align: center;
    margin-top: 60px;
}
#mylink5 {
    text-align: center;
    font-size: 28px;
    color: white;
}
#mylinkcontainer5 {
    text-align: center;
    margin-top: 60px;
}



/*#endregion-synth*/

@media (max-width:1375px) {
    body {
        background-color: black;
    }
    #menutextboxtext {
        color: black;
        font-size: 20px;
        margin-top: 5px;
    }
    #menutextboxcontainer {
        position:absolute;
        left: 50%;
        top: 70%;
        transform: translateY(200%);
        width: 280px;
        height: 200px;
        border: 5px solid white;
        overflow-y: scroll;
        transform: translate(-50%, -50%);
        text-align: left;
    }
}